
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    width: 50%;
}
form .field{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

form  input{
    /* background-color: #080808; */
    border:1px solid white;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 10px 20px;
}

/* .button{
     color: whitesmoke;
    border:1px solid white;
    border-radius: 5px;
    

    padding: 10px 40px;
} */